<html lang="en">
  <head>
    <link
      href="/public/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <title>Chapter 2 - Contact</title>
  </head>
  <body>
    {{! Navbar }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/public/assets/img/logo.png" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            {{#if isLogin}}
              <li class="nav-item">
                <a class="nav-link" href="/add-project">Add Project</a>
              </li>
            {{/if}}
          </ul>
          <div>
            {{#if isLogin}}
              <span class="dropdown d-inline" style="margin-right: 20px;">
                <a
                  class="nav-link dropdown-toggle d-inline text-black"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Hallo,
                  {{user.name}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </span>
              <a href="/contact" class="btn btn-contact-me">Contact Me</a>
            {{else}}
              <a href="/register" style="margin-right: 20px;">Register</a>
              <a href="/login" style="margin-right: 20px;">Login</a>
              <a href="/contact" class="btn btn-contact-me">Contact Me</a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
    {{! End Navbar }}

    {{! Form Contact }}
    <div class="container mx-auto my-5">
      <div class="form-contact mx-auto">
        <h3 class="fw-bold text-center py-3">GET IN TOUCH</h3>
        <form>
          <div class="mb-4">
            <label for="name" class="form-label fw-bold">Name</label>
            <input type="text" id="name" class="form-control shadow" />
          </div>

          <div class="mb-4">
            <label for="email" class="form-label fw-bold">Email</label>
            <input type="email" id="email" class="form-control shadow" />
          </div>

          <div class="mb-4">
            <label for="phone" class="form-label fw-bold">Phone Number</label>
            <input type="number" id="phone" class="form-control shadow" />
          </div>

          <div class="mb-4">
            <label for="subject" class="form-label fw-bold">Subject</label>
            <select id="subject" class="form-select shadow">
              <option hidden value=""></option>
              <option value="Let's Talk">Let's Talk</option>
              <option value="Let's Collaboration">Let's Collaboration</option>
              <option value="I'm Hiring">I'm Hiring</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="message" class="form-label fw-bold">Your Message</label>
            <textarea
              id="message"
              class="form-control shadow"
              rows="5"
            ></textarea>
          </div>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-submit" onclick="submitData()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    {{! Form Contact }}

    <script
      src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/public/assets/js/contact.js"></script>
  </body>
</html>